:root {
    --primary-color: rgb(252, 154, 9);
    --secondary-color: rgb(49, 5, 0);
    --blurry-bg: rgba(49, 5, 0, 0.463);

}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;

}
   body,html{
        overflow-x: hidden;
    }
header {
    width: 100%;
}

body {
    background-image: url(https://w.wallhaven.cc/full/n6/wallhaven-n683ql.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    width: 100%;
    margin:0;

}
.tiling{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%!important;  
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
    
}

a,
a:visited,
a:active {
    color: var(--primary-color);
    text-decoration: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    background: rgba(10, 7, 1, 0.301);
    backdrop-filter: blur(40px);

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color) !important;
    cursor: pointer;
}

.container .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.25rem;
    list-style: none;
}

.container .navLinks li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 10px;
    white-space: nowrap;
    border: 3px transparent;
    transition: all 500ms ease;
}

.container .navLinks li a:hover {
    background: transparent;
    background-color: rgba(49, 5, 0, 0.596);
    border-radius: 30px;
    transition: all 500ms ease-in-out;
}

.menu-toggle {
    background: transparent;
    padding: 1rem;
    cursor: pointer;
    border: none;
    display: none;
    transition: transform 1000ms ease-in-out;
    transform: rotate3d(0, 0, 0, 180deg);
}

.menu-toggle:hover {
    transform: rotate3d(1, 0, 0, 180deg);
}

.menu-toggle:hover .spanBar {
    background-color: var(--secondary-color);
}

.spanBar {
    display: block;
    width: 2rem;
    height: 5px;
    margin: 5px auto;
    background: var(--primary-color);
    transition: all 500ms ease-in-out;
}

.hidden-checkbox {
    display: none;
}

.menu-overlay-blur {
    position: fixed;
    inset: 0;
    background: rgba(10, 7, 1, 0.301);
    backdrop-filter: blur(20px);
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 900;
}


.goto {
    width: clamp(2rem, 4vw, 5rem);
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 1%;
    right: 1%;
    transition: all 500ms ease-in-out;

}

.goto:hover {
    animation: bounce 3s infinite;
    transition: all 500ms ease-in-out;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);

    }

    40% {
        transform: translateY(-3px);
    }

    60% {
        transform: translateY(-5px);
    }
}


/* migracion de photocards */


img {
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-div {
    text-align: center;
    color: var(--primary-color);
}


.photocard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 600px;
    position: relative;
    text-align: center;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.658);
    border-radius: 12px 0;
    overflow: hidden;
}

.photocard h3 {
    font-weight: bold;
}

.photocard p {
    font-size: medium;
    max-width: 100%;
    word-break: break-word;
}

.design {
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    opacity: 1;
    transition: all 1000ms ease-in-out;
    margin-bottom: 1rem;

}

.hidden-div {
    max-height: 0;
    opacity: 0;
}

.photocard img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.photocard img:hover {
    opacity: .85;
}

.photocard .buttonShowcase {
    display: block;
    position: relative;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    transition: all 500ms ease-in-out;
}

.framed-picture {
    transition: 1000ms ease-out;
}

.framed-picture:hover {
    transition: 1000ms ease-out;
    max-width: .75;
}

#kurapika {
    color: rgb(4, 0, 248);
    background-color: rgba(255, 196, 1, 0.801);
}

#pKura {
    background-color: rgb(250, 230, 5);
    transition: 1000ms ease-out;
}

#pKura:hover {
    background-color: rgba(111, 96, 245, 0.664);
    transition: 1000ms ease-out;
}

#kurapika .buttonShowcase {
    background-color: rgb(4, 0, 248);
    border-color: rgba(111, 96, 245, 0.664);
    color: rgb(250, 230, 5);

}


#gon {
    background-color: rgba(2, 83, 42, 0.795);
    color: rgb(5, 255, 5);
}

#pGon {
    background-color: rgba(0, 43, 0, 0.904);
    transition: 1000ms ease-out;
}

#pGon:hover {
    background-color: rgba(12, 136, 0, 0.849);
    transition: 1000ms ease-out;
}

#gon .buttonShowcase {
    background-color: rgba(12, 136, 0, 0.849);
    border-color: rgb(5, 255, 5);
    color: rgb(5, 248, 126);
}

#killua {
    color: rgb(155, 252, 255);
    background-color: rgba(15, 0, 99, 0.74);
}

#pKillua {
    background-color: rgba(14, 25, 31, 0.582);
    transition: 1000ms ease-out;
}

#pKillua:hover {
    background-color: rgba(9, 206, 255, 0.822);
    transition: 1000ms ease-out;
}

#killua .buttonShowcase {
    background-color: rgba(9, 206, 255, 0.822);
    border-color: rgb(155, 252, 255);
    color: rgba(15, 0, 99, 0.911);
}

#leorio {
    color: rgb(78, 221, 209);
    background-color: rgba(1, 92, 134, 0.753);
}

#pLeorio {
    background-color: rgba(46, 120, 160, 0.582);
    transition: 1000ms ease-out;

}

#pLeorio:hover {
    background-color: rgba(19, 66, 31, 0.822);
    transition: 1000ms ease-out;
}

#leorio .buttonShowcase {
    background-color: rgba(19, 66, 31, 0.822);
    border-color: rgba(46, 120, 160, 0.582);
    color: rgb(78, 221, 209);
}

.photoShape {
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.buttonShowcase {
    display: block;
    border-width: 2px;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: 500ms ease-out;
    border-color: rgb(255, 0, 0);
}

.buttonShowcase:hover {
    transform: translateX(-50%) scale(1.1);
    transform-origin: center;
}

/* CookiesStart */
.overlay {
    position: fixed;
    background: rgba(255, 124, 1, 0.171);
    z-index: 1000;
    inset: 0;
}


.overlay.active {
    display: block;
}

.cookies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 5px;
    left: 50%;
    height: auto;
    width: 100vw;
    transform: translate(-50%, 0%);
    background-color: rgba(105, 70, 5, 0.74);
    color: rgb(248, 187, 108);
    padding: 1rem;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.cookies-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.cookies-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0 1rem 0 1rem;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.cookies-button:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 217, 0, 0.5);
}

.cookies a {
    text-decoration: none;
    color: rgb(248, 187, 108);
    margin-top: 1rem;
    transition: 300ms ease-in-out;
}

.cookies a:hover {
    transform: scale(1.2);
}

#cookiesConfig {
    position: relative;
    overflow: hidden;
    transition: all 500ms ease-in-out
}

.cookies-content {
    display: flex;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    border: none;
    border-radius: 15px;
    transition: all 500ms ease-in-out;
    background-color: rgba(99, 61, 5, 0.900);
}

.cookies-content:not(.collapsed) {
    display: flex;
    justify-content: space-between;
    max-height: 700px;
    opacity: 1;
    border: 1px solid rgb(255, 153, 0);
    margin: 0 0 1rem 0;
    box-shadow: 0 0 10px rgba(252, 154, 9, 0.5);
    padding: 0 5px 1rem 5px;
}

.toggle-cookies {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: flex-end;
    text-align: center;
    justify-content: center;
}

.switch {
    display: inline-block;
    width: 50px;
    height: 25px;
    background: var(--secondary-color);
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: rgb(143, 87, 4);
    border-radius: 50%;
    transition: all 500ms ease-in-out;
}

/* activo */
.switch input:checked+.slider {
    left: 28px;
    background: var(--primary-color);
}

/* cookiesend */


/* footer */
.footer-master {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    color: var(--primary-color);
}

.copyright {
    text-align: center;
    margin-top: 1rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-container a {
    text-decoration: none;
}

.footer-subcontainer {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0 1rem;
    justify-content: center;
    align-items: center;
}

/* footer navigation */

.footer-subcontainer .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;
}

.footer-subcontainer .navLinks li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 10px;
    white-space: nowrap;
    transition: all 500ms ease;
}

.footer-subcontainer .navLinks li a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
}

.footer-subcontainer .navLinks li,
.container .navLinks li,
.cookies-button {
    transform: rotate3d(0, 0, 0, 0);
    transition: all 500ms ease;
}

.footer-subcontainer .navLinks li:hover,
.container .navLinks li:hover,
.cookies-button:hover {
    transform: rotate3d(1, 0, 0, 360deg);
}

/* Input de newsletter*/

.input-container {
    position: relative;
    width: 400px;
}

.input-container input {
    width: 100%;
    padding: 20px 50px 20px 25px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
    backdrop-filter: blur(20px);
}

.input-container input:focus,
.send-button:hover,
.footer-subcontainer .navLinks li a:hover,
.container .navLinks li a:hover {
    outline: none;
    box-shadow: 0 0 10px rgba(252, 154, 9, 0.5);

}

.send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.send-button:hover {
    background-color: var(--secondary-color);
    transform: translateY(-50%) scale(1.1);
    transition: all 500ms ease-in-out;
}

.send-button:hover img {
    filter: brightness(1) contrast(1);
}

.send-button img {
    width: 20px;
    height: 20px;
    transition: all 500ms ease-in-out;
    filter: brightness(0.3) contrast(1.5);
}

.contact-container {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(252, 155, 9, 0.125);
}

.footer-title {
    font-weight: 500;
    color: var(--primary-color);
    font-size: 2rem;
    width: 400px;
}

.bottom-text {
    font-weight: 300;
    color: rgba(252, 155, 9, 0.712);
    font-size: 1.5rem;

}

.footer-data a {
    color: var(--primary-color);
    text-decoration: none;
}

.footer-data,
#policy {
    text-decoration: none;
    background: linear-gradient(to right, rgb(255, 120, 0), var(--primary-color)),
        linear-gradient(to right, #ff4d00, var(--primary-color), var(--secondary-color));
    background-size: 0% 0.15em, 0 0.15em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    transition: all 1000ms ease-in-out;
}

.footer-data:hover,
.footer-data:focus,
#policy:hover,
#policy:focus {
    background-size: 100% 0.2em, 100% 0.2em;
}

.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    background: transparent;

}

.socials-button {
    border-radius: 50% 50%;
    width: 40px;
    height: 40px;
    margin: 0 1rem 0 1rem;
    transition: all 1000ms ease-in-out;
}

.socials-button:hover {
    transform: scale(1.2);
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(252, 154, 9, 0.5);
}

.socials-button:hover img {
    filter: brightness(.2) contrast(1.5);
}

.socials-button img {
    display: block;
    width: inherit;
    height: inherit;
    filter: brightness(1) contrast(1.5);
    transition: all 500ms ease-in-out;
}

.waxap-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#waxap {
    width: 40px;
    height: 40px;
    filter: brightness(1) contrast(1.5);
    transition: all 500ms ease-in-out;
}

#waxap:hover,
#waxap:focus {
    filter: brightness(1.1) contrast(1.5);
}

.footer-master a {
    text-decoration: none;
}

/* footerend */

.inner-container {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    justify-content: center;
    margin: 3rem;
}

.carousel {
    border-radius: 12px !important;
    position: relative;
    max-width: 100%;
    background-color: var(--blurry-bg);
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Responsivity */





.carousel-track {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;


}

.row-carousel {
    display: flex;
    flex-direction: row;

}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.carousel-slide {
    min-width: 100%;
    scroll-snap-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.carousel-slide .photocard {
    margin-right: 2rem;
}

.nav-carousel {
    position: absolute;
    top: 50%;
    transform: translateY(70%);
    background-color: rgba(49, 5, 0, 0.445);
    color: var(--primary-color);
    border: none;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
    border-radius: 45%;
    z-index: 100;
    margin-right: 1rem;
    margin-left: 1rem;
    transition: all 1000ms ease-in-out;
}

.nav-carousel:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:rgb(153, 71, 3);
    border: none;
    margin: 5px;
    cursor: pointer;
}

.dots button.active {
    background-color: var(--primary-color);
}

/* Responsive */

.new-wea {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    border-radius: 2rem;
}

iframe {
    width: 95%;
}



/* debugger */
/* * {
    border: 2px solid red;
} */
/* paginas secundarias */
.subpages-container {
    display: flex;
    flex-direction: column;
    background-color: var(--blurry-bg);
    color: var(--primary-color);
}

.subcontainer-1 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
}

.subcontainer-2 {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    max-width: fit-content;
    flex-wrap: wrap;
    width: 768px;
    padding: 1rem;
    margin:1rem;
    background-color: rgba(7, 4, 0, 0.534);

}
.subcontainer-3{
    display: flex;
    flex-direction: column;
    background-color: inherit;
    padding: 1rem;
    margin:2rem;
}
.subcontainer-2 img{
    width: 100%;
    max-width: 600px;
    border-radius:12px;
    align-self: center;
}

.over-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000098;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.subcontainer-4{
    display: flex;
    justify-content: center;
    height: fit-content;
    position: relative;
    align-items: center;
    top:10vh;

}
.videos{
    width: 600px;
    display: block;
}
.bottom-text-jr{
    padding: 2rem;
    color: var(--primary-color);
}
.tt{
    background-color: rgba(0, 0, 0, 0.479);
    border-bottom: 1px solid white;
}

@media (max-width: 600px) {
.subpages-container {
      padding: 2rem;
  }

  .subcontainer-1 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 1rem;
    overflow:hidden;
    
  }

  .subcontainer-2 {
        flex: none; 
        flex-wrap: nowrap;
        width: 100%;
        max-width: none;
        max-height: none;
        margin: 10px 0;
        padding: 1rem;
        background-color: rgba(7, 4, 0, 0.534);
        box-sizing: border-box; 
}
#vernier{
    width: 400px;
    align-self: center;
}


.subcontainer-2 p,
.subcontainer-2 h3 {
    width: 100%;      /* nunca excede el contenedor */
    max-width: 100%;
    height: auto;     /* mantiene proporciones */

}
  .subcontainer-2 img {
    width: 100%;      
    max-width: 100%;    height: auto;
    object-fit: cover;
    border-radius: 12px;
  }
  

  .subcontainer-3 {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
  }

  .subcontainer-4 {
   display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0; 
    width: 100%;
  }

  .bottom-text-jr {
    padding: 1rem;
    font-size: 0.9rem;
  }

  .tt {
    font-size: 0.9rem;
    margin-bottom:2rem ;
  }


    .carousel-track {
        background-color: transparent;

    }

    .photocard {
        width: 100%;
        max-width: 300px;
        height: 50%;
        border: 1px solid #210a018d;
        border-radius: 12px;
        box-shadow: none;
        margin: 10px !important;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.292);
    }


    .inner-container {
        width: fit-content;
        height: 400px;
        flex-direction: column;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        background: none !important;
        box-shadow: none !important;
        margin: 0 auto;
    }

    .new-wea {
        display: none !important;
    }

    /* Navbar Mobile */


    .navigation {
        position: relative;
        z-index: 1000;
        backdrop-filter: blur(20px);
        background: rgba(10, 7, 1, 0.301);
        box-shadow: -5px 0 10px -2px rgba(0, 0, 0, 0.3);
    }

    .link-container {
        z-index: 1000;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 6.3rem;
        right: 0;
        height: 100vh;
        width: 200px;
        padding: 5rem 1.5rem;
        gap: 1.5rem !important;
        backdrop-filter: blur(20px);
        background: rgba(10, 7, 1, 0.301);
        transform: translateX(100%);
        opacity: 0;
        box-shadow: -5px 0 10px -2px rgba(0, 0, 0, 0.3);
        transition: all 1500ms;

    }

    .link-container.show {
        opacity: 1;
        transform: translateX(0);
    }


    .container .navLinks {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        right: 1rem;
    }

    .blur-overlay {
        position: fixed;
        inset: 0;
        background: rgba(31, 23, 11, 0.3);
        backdrop-filter: blur(2px);
        opacity: 0;
        pointer-events: none;
        transition: opacity 1000ms ease;
        z-index: 913;
    }

    .blur-overlay.show {
        opacity: 1;
        pointer-events: auto;
    }

    /* content mobile */

    .card-button-container {
        display: flex;
        justify-content: center !important;
        align-items: center;
        width: 2rem;
        height: 2rem;
        width: auto;
        margin-top: 1rem;

    }

    .card-button-container .buttonShowcase {
        display: block;
        position: relative;
        bottom: 5px;
        left: 0;
        transform: translateX(0%);
        z-index: 12;
    }

    .photocard .design {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 4rem;
        width: 100%;
        height: 500px;
        max-height: calc(100% - 4rem);
        background-color: rgba(46, 45, 45, 0.375);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all 1000ms ease-in-out;
        z-index: 10;
        border-radius: 12px 12px 0 0;

    }

    .photocard .design:not(.hidden-div) {
        opacity: 1;
        pointer-events: auto;
        backdrop-filter: blur(15px);
        max-height: calc(100% - 3rem);
    }


    /* cartas con grid */
    .justified-holder {
        display: none !important;
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
        justify-content: center;
        gap: 2rem;
        background-color: rgba(245, 222, 179, 0.26);
        text-align: center;
        color: rgb(255, 166, 0);
        padding: 3rem;
    }

    /* footer mobile */

    footer {
        text-align: center !important;
    }

    .goto {
        bottom: 1%;
        left: 1%;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-subcontainer {
        border-bottom: 1px solid rgba(252, 155, 9, 0.125);
        padding-bottom: 10px;
    }

    /* cookies */
    .cookies {
        background-color: rgba(105, 70, 5, 0.90);
        font-size: 1.1rem;
        transform: translateX(-50%);
    }
 
}


/* services */
.services-section {
    text-align: center;
    padding: 4rem 2rem;
    background-color: var(--blurry-bg);
  }

  .services-section h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
       color: var(--primary-color);
  }

  .services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .service-card {
    background: var(--secondary-color);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    max-width: 300px;
    flex: 1 1 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  }

  .service-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    background-color:var(--primary-color);
    padding: 10px;
  }

  .service-card h3 {
    margin-bottom: 1rem;
    color: var(--primary-color);
  }

  .service-card p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--primary-color);
  }